<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" src="static/jquery-1.9.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-responsive.min.css">

<script type="text/javascript">
var address = "";
var isConnected = false;

function getAddress(raw_address) {
    return raw_address;
}

function connect(){
    address = getAddress($("#address").val());
    localStorage["address"] = address;
    $.get("http://"+address+"/api/is/", function (data){
        console.log(data);
        if (data == "true") {
            isConnected = true;
            $("#address").attr("disabled", "");
            $("#connect").html("disconnect");
        }
        else {
            address = ""
        }
    })
}

function disconnect() {
    isConnected = false;
    address = "";
    $("#address").removeAttr("disabled");
    $("#connect").html("connect");
}

function action(action){
    if (isConnected) $.get("http://"+address+"/api/action/"+action+"/");
}

$(document).ready(function(){
    if (localStorage){
        if (localStorage["address"]){
            $("#address").val(localStorage["address"]);
        }
    }

    $("#connect").click(function(){
        if (isConnected) disconnect();
        else connect();
    })

    $("#action_volume_up").click(function(){action("volume_up")});
    $("#action_volume_down").click(function(){action("volume_down")});
    $("#action_volume_up3").click(function(){action("volume_up3")});
    $("#action_volume_down3").click(function(){action("volume_down3")});
    $("#action_mute").click(function(){action("mute")});
    $("#action_unmute").click(function(){action("unmute")});
    $("#action_toggle").click(function(){action("toggle")});
})
</script>

<style type="text/css">
.button {
    height:70px;

    float:left;
    text-align:center;
    background-color: #EEE;

    border: 3px solid white;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

input[type=text] {height: 30px;}
</style>

<div class="container">
    <center>
        <h1>alsa remote</h1>
        <div class="input-append">
            <input id="address" type="text" placeholder="address">
            <button id="connect" class="btn" style="width:90px;" type="button">Connect</button>
        </div>
    </center>
    <div style="clear:both;"></div>
    <div>
        <div class="button" style="width:25%;" id="action_volume_up3"></div>
        <div class="button" style="width:25%;" id="action_volume_up"></div>
        <div class="button" style="width:25%;" id="action_volume_down"></div>
        <div class="button" style="width:25%;" id="action_volume_down3"></div>
    </div>
    <div>
        <div class="button" style="width:100%;" id="action_toggle"</div>
    </div>
    <div>
        <div class="button" style="width:50%;" id="action_mute"></div>
        <div class="button" style="width:50%;" id="action_unmute"></div>
    </div>
    <div style="clear:both;"></div>
    <p>2013 <b>Ondrej Sika</b> (ondrejsika.com)</p>
</div>
